.tableWrap {
  width: 100%;
  max-width: 992px; /* “tablet vertical” */
  margin-left: auto;
  margin-right: auto;
}

.table {
  table-layout: fixed;
}

.table th,
.table td {
  white-space: normal;
  word-break: break-word;
}

.transportationFeeContainer {
  width: 100%;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}
